{% extends 'base.html' %}

{%  block body  %}
<section id="portfolio">

    <div id="modal-01" class="popup-modal mfp-hide">

        <img class="scale-with-grid" src="{{ portafolio.modal_img.url }}" alt="" />

        <div class="description-box">
            <h4>{{ portafolio.title }}</h4>
            <p>{{ portafolio.description }}</p>
            <span class="categories"><i class="fa fa-tag"></i>{{ portafolio.category}}</span>
        </div>

        <div class="link-box">
            <a href="#" target="_blank">Details</a>
            <a class="popup-modal-dismiss">Close</a>
        </div>

    </div><!-- modal-01 End -->
</section>
{% endblock %}