{% extends 'base.html' %}

{% load static %}

{%  block body  %}
<!-- About Section
   ================================================== -->
<section id="about">

    <div class="row">

        <div class="three columns">

            <img class="profile-pic" src="{% static 'images/profilepic.jpg' %}" alt="" />

        </div>

        <div class="nine columns main-col">

            <h2>Acerca de mi</h2>

            <p>Ingeniero electrónico con 10 años experiencia en la manufactura industrial tanto de alimentos y
                bebidas asi por en los dispositivos médicos orientado especialmente a la automatización, control e
                instrumentación para procesos.
            </p>

            <div class="row">

                <div class="columns contact-details">

                    <h2>Contactame</h2>
                    <p class="address">
                        <span>Ranger Geronimo</span><br>
                        <span>rangergeronimo@gmail.com</span><br>
                        <span>+1(829) 342-9560</span><br>
                    </p>

                </div>

            </div>
            <!-- end row -->

        </div>
        <!-- end .main-col -->

    </div>
    <!-- end .main-row -->
</section>
<!-- About Section End-->
{% endblock %}