{% load static %}
<!-- Contact Section
   ================================================== -->
<section id="contact">

   <div class="row section-head">

      <div class="two columns header-col">

         <h1><span>Get In Touch.</span></h1>

      </div>

      <div class="ten columns">

         <p class="lead">Aqui todas las formas en que te puedes comunicar conmigo.</p>

      </div>

   </div>

   <div class="row">

      <div class="eight columns">

         <!-- form -->
         <form action="{% url 'form:contact' %}"   method="POST" id="contactForm">
            {% csrf_token %}
            <fieldset>

               <div>
                  {{ form.name.label }}{{ form.name }}
               </div>

               <div>
                  {{ form.email.label }} {{ form.email }}
               </div>

               <div>
                  {{ form.suject.label }} {{ form.suject }}
               </div>

               <div>
                  {{ form.message.label }}
                  {{ form.message }}
               </div>

               <div>
                  <button class="submit">Submit</button>
               </div>

            </fieldset>
         </form>
         <!-- Form End -->

      </div>


      <aside class="four columns footer-widgets">

         <div class="widget widget_contact">

            <h4>Address and Phone</h4>
            <p class="address">
               Ranger Geronimo<br>
               rangergeronimo@gmail.com<br>
               <span>+1(829) 342-9560</span><br>
            </p>

         </div>

      </aside>

   </div>

</section> <!-- Contact Section End-->