{% load static %}
<!-- Contact Section
   ================================================== -->
<section id="contact">

   <div class="row section-head">

      <div class="two columns header-col">

         <h1><span>Get In Touch.</span></h1>

      </div>

      <div class="ten columns">

         <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit.
         </p>

      </div>

   </div>

   <div class="row">

      <div class="eight columns">

         <!-- form -->
         <form method="POST" id="contactForm">
            {% csrf_token %}
            <fieldset>

               <div>
                  {{ form.name.label }}{{ form.name }}
               </div>

               <div>
                  {{ form.email.label }} {{ form.email }}
               </div>

               <div>
                  {{ form.suject.label }} {{ form.suject }}
               </div>

               <div>
                  {{ form.message.label }}
                  {{ form.message }}
               </div>

               <div>
                  <button class="submit">Submit</button>
               </div>

            </fieldset>
         </form>
         <!-- Form End -->

      </div>


      <aside class="four columns footer-widgets">

         <div class="widget widget_contact">

            <h4>Address and Phone</h4>
            <p class="address">
               Jonathan Doe<br>
               1600 Amphitheatre Parkway <br>
               Mountain View, CA 94043 US<br>
               <span>(123) 456-7890</span>
            </p>

         </div>

      </aside>

   </div>

</section> <!-- Contact Section End-->