<!-- Header start -->
<header id="home">

    <!-- Nav bar start -->
    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Inicio</a></li>
            <li><a class="smoothscroll" href="#about">Acerca de Mi</a></li>
            <li><a class="smoothscroll" href="#resume">Mi Resumen</a></li>
        </ul>
    </nav>
    <!-- Nav Bar end -->

    <div class="row banner">
        <div class="banner-text">
            <h1 class="responsive-headline">Ranger Geronimo</h1>
            <h3>Ingeniero Electronico, Web Developer, IoT Maker.<span><a href="#about">Ver mas.</a></span></h3>
            <hr>
            <ul class="social">
                <li><a href="http://www.linkedin.com/in/rangergeronimo"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://join.skype.com/invite/BBfvPuePeHuH"><i class="fa fa-skype"></i></a></li>
                <li><a href="https://github.com/KonicalRG"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

    <p class="scrolldown">
        <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
    </p>

</header>
<!-- Header End -->