<!-- Skills
      ----------------------------------------------- -->
<div class="row skill">

    <div class="three columns header-col">
        <h1><span>Habilidades</span></h1>
    </div>

    <div class="nine columns main-col">

        <p>Poseo un conunto de habilidades en diferentes areas de la electronica y la tecnoligia de la informacion que
            estoy seguro seran de gran utilidad para su organizacion.
        </p>

        <div class="bars">

            <ul class="skills">
                {% for key, value in skills.items %}
                <li><span class="bar-expand {{ key }}"></span><em>{{ value }}</em></li>
                {% endfor %}


            </ul>

        </div><!-- end skill-bars -->

    </div> <!-- main-col end -->

</div> <!-- End skills -->