<!-- Skills
      ----------------------------------------------- -->
<div class="row skill">

    <div class="three columns header-col">
        <h1><span>Habilidades</span></h1>
    </div>

    <div class="nine columns main-col">

        <p>He aprendido y desarrollado un conjunto de <span>habilidades</span> que estoy seguro de que me convierten en
            un activo
            valiosos para su organización.
        </p>

        <div class="bars">

            <ul class="skills">
                {% for key, value in skills.items %}
                <li><span class="bar-expand {{ key }}"></span><em>{{ value }}</em></li>
                {% endfor %}


            </ul>

        </div><!-- end skill-bars -->

    </div> <!-- main-col end -->

</div> <!-- End skills -->