<!-- Work -->
<div class="row work">

    <div class="three columns header-col">
        <br>
        <h1><span>Historial Empleos</span></h1>
    </div>

    {% for history in resume %}

    <div class="nine columns main-col">

        <div class="row item">

            <div class="twelve columns">

                <h3>{{ history.title }}</h3>
                <p class="info">{{ history.role }}<span>&bull;</span> <em class="date">{{ history.start_date }} -
                        {{ history.end_date }}</em></p>

                <p>
                    {{ history.description }}
                </p>

            </div>

        </div>



    </div>
    {% endfor %}

</div> <!-- End Work -->


<!-- Education -->
<div class="row education">

    <div class="three columns header-col">
        <br>
        <h1><span>Formacion </span></h1>
        <h1><span>Academica</span></h1>

    </div>
    {% for education in academic  %}


    <div class="nine columns main-col">

        <div class="row item">

            <div class="twelve columns">

                <h3>{{ education.college }}</h3>
                <p class="info">{{ education.title }} <span>&bull;</span> <em class="date">{{ education.date }}</em></p>

                <p>
                    {{ education.description }}
                </p>

            </div>

        </div>

    </div>
    {% endfor %}

</div> <!-- End Education -->