<!-- Work -->
<div class="row work">

    <div class="three columns header-col">
        <br>
        <h1><span>Historial Empleos</span></h1>
    </div>



    <div class="nine columns main-col">

        <div class="row item">

            {% for history in resume %}
            <div class="twelve columns">

                <h3>{{ history.title }}</h3>
                <p class="info">{{ history.role }}<span>&bull;</span> <em class="date">{{ history.start_date }} -
                        {% if history.end_date %} {{ history.end_date }} {% else %} Presente {% endif %}
                    </em></p>
                <p>
                    {{ history.description }}
                </p>

            </div>
            {% endfor %}

        </div>



    </div>


</div> <!-- End Work -->


<!-- Education -->
<div class="row education">

    <div class="three columns header-col">
        <br>
        <h1><span>Formacion </span></h1>
        <h1><span>Academica</span></h1>

    </div>



    <div class="nine columns main-col">

        <div class="row item">
            {% for education in academic  %}
            <div class="twelve columns">

                <h3>{{ education.college }}</h3>
                <p class="info">{{ education.title }} <span>&bull;</span> <em class="date">{{ education.date }}</em></p>

                <p>
                    {{ education.description }}
                </p>

            </div>
            {% endfor %}
        </div>

    </div>


</div> <!-- End Education -->